<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Cultivate.land!</h1>
    <p>
      You have successfully signed up with Cultivate.land, the premiere app
      to help people of all ages manage small farms and gardens.
    <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining--may your harvest be bountiful!</p>
  </body>
</html>