<html>
	<head>
		<title>Cultivate.land</title>
	</head>
	<body>
		<h1>Cultivate.land</h1>

		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Garden", garden_path %></li>
		</ul>
		
		

		<h2>Welcome back to the land.</h2>
		<p>Cultivate.land is a web app that helps small, hobby-sized farms manage their animals and agricultural practices.</p>

	</body>
</html>