<% provide 'app/helpers/home_helper.rb' %>
<html>
	<head>
		<title>Cultivate.land</title>
	</head>
	<body>
		<div class="hero">


			<div <%= greenify %>>
				<h1>Welcome back to the land.</h1>
			</div>

				<p>Cultivate is a web app that helps people manage small farms and gardens. We help keep your animals and agriculture organized, so you can spend more time celebrating the harvest.</p>

		</div>
	</body>
</html>