<h1><span class="general">Edit Plant</span></h1>

<%= render 'form' %>

<div class="text-center">
	<%= link_to 'Show', garden_plant_path(@garden, @plant) %> |
	<%= link_to 'Back', garden_plants_path(@garden) %>
</div>