<h1><span class="general">Edit Plant</span></h1>

<%= render 'edit_form' %>

<div class="text-center">
	<%= link_to 'Show', garden_plant_path(@garden, @plant) %> |
	<%= link_to 'Back', plants_path %>
</div>