<h1>Listing plants</h1>

<table>
  <thead>
    <tr>
      <th>Lifecycle</th>
      <th>Plant type</th>
      <th>Breed</th>
      <th>Sun preference</th>
      <th>Soil type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.lifecycle %></td>
        <td><%= plant.plant_type %></td>
        <td><%= plant.breed %></td>
        <td><%= plant.sun_preference %></td>
        <td><%= plant.soil_type %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
