$bgDefault      : #4dd468;
$bgHighlight    : #45BE5D;
$colDefault     : #ffffff;
$colHighlight   : #f9f68f;
$boxDark				: #369648;


@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
	margin: 0 auto;
}

.field {
	font-family: 'Josefin Slab', Georgia, serif;
	font-weight: 700;
}

/* navbar customizations */

.nav .pull-right {
	padding-top: 9px;
	padding-left:10px;
}

.navbar-inner {
  background-color: $bgDefault; /* place your solid color here */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
	font-family: 'Josefin Slab', Georgia, serif;
	font-weight: 700;
	font-size: 1.25em;
	text-shadow: none;
	color: #fff;

}

.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #f9f68f;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #f9f68f;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f9f68f;
	background-color: #4dd468;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #f9f68f;
	background-color: #4dd468;
}
.navbar-default .navbar-toggle {
	border-color: #4dd468;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #4dd468;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #f9f68f;
}

.dropdown-menu { 
	margin-top: 3px;
	margin-right:15px;
	background-color: $bgDefault;
	color: #fff;
}
.dropdown-menu>li>a { 
	color: #fff;
	font-family: sans-serif;
	font-size: 1.05em;
	text-shadow: none;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
	color: #000;
	background-image: none;
	background-color: $bgHighlight;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
		background-color: $bgHighlight;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret { 
	border-top-color: #fff;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
	border-top-color: #000;
	background-color: $bgHighlight;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover { 
	background-color: $bgHighlight;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret { 
	border-bottom-color: #999999;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
	border-bottom-color: #FFFFFF;
}
.navbar .nav .dropdown-toggle {
	font-family: 'Josefin Slab', Georgia, serif;
	font-weight: 700;
	font-size: 1.25em;
	text-shadow: none;
	color: #fff;
	text-decoration: none;
	margin-left: 35px;
	line-height:40px;
}
.navbar .nav .dropdown-toggle .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
	margin-top:17px;
}
.navbar .nav .dropdown-toggle>a:hover {
	color: #000;
	background-color: $bgHighlight;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: 'Josefin Slab', Georgia, serif;
	font-weight: 700;
  line-height: 55px;
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
	font-family: 'Crimson Text', Georgia, Times, serif;
  font-size: 1.1em;
  line-height: 1.7em;
}

/* HEADER */

#logo {
	font-family: "Cabin Sketch", Georgia, serif;
	font-weight: 700;
  float: left;
  margin-right: 10px;
  font-size: 2.55em;
  color: #fff;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 5px;
  padding-left: 0px;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* LANDING */


.sign-up {
	margin: 0 auto;
	width: 30%;
	background-color: $boxDark;
	padding: 20px 50px 20px;
	color: white;
}

