// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgDefault      : #4dd468;
$bgHighlight    : #45BE5D;
$colDefault     : #ffffff;
$colHighlight   : #f9f68f;
$boxDark				: #369648;


/* GARDENS */
.gardens-wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	background-color: white;
	border: 4px inset $bgHighlight;
	border-radius: 15px;
}
h1 {
	text-align: center;
}
h2 {
	color: $boxDark;
}

.gardens-wrapper>a {
	color: $boxDark;
}

.gardens-wrapper>a:hover {
	color: black;
}


