// Place all the styles related to the Plants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bgDefault      : #4dd468;
$bgHighlight    : #45BE5D;
$colDefault     : #ffffff;
$colHighlight   : #f9f68f;
$boxDark				: #369648;
$gardenBox      : #94e5a4;
$earthy					: #61380B;

@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:700);

/* GARDENS */
.gardens-wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 30px;
	background-color: white;
}

h1 {
	text-align: center;
}

h2 {
	color: $boxDark;
}

h4 {
	font-family: 'Josefin Slab', Georgia, serif;
	color: $earthy;
	font-size:1.75em;
}

.gardens-wrapper>a {
	color: $boxDark;
}

.gardens-wrapper>a:hover {
	color: black;
}

.garden-box {
	background-color: white;
	padding:10px;
	text-align: center;
	border: 3px solid $gardenBox;
	border-radius: 25px;
}

.garden-box:hover {
	background-color: $gardenBox;
}


