// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	width: 80%;
}

.greenify {
	color: #669900;
}

.default {
	color: #000;
}