// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$bgDefault      : #4dd468;
$bgHighlight    : #45BE5D;
$colDefault     : #ffffff;
$colHighlight   : #f9f68f;
$boxDark				: #369648;



/* USERS  */

.signup-wrapper {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	color: $colDefault;
	background-color: $boxDark;
}


.signin-wrapper {
	width: 30%;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	color: $colDefault;
	background-color: $boxDark;
}

h2 {
	color: $colDefault;
}

a {
	color: $colDefault;
}

a:hover {
	color: cornsilk;
	text-decoration:none;
}