<footer class="footer">
  <small> &copy; <%= Time.now.year %> Sleepy Badger Studios. </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Sign up", '#' %></li>
    </ul>
  </nav>
</footer>