<header class="navbar navbar-fixed-top navbar-default">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Cultivate", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<div class="dropdown">
	   				 
	   				 <a data-target="#" href="<%= garden_path %>" data-toggle="dropdown" class="dropdown-toggle">Garden <b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="#">My Gardens</a></li>
				        <li><a href="#">My Plants</a></li>
				        <li><a href="#">My Seedlings</a></li>
				        <li><a href="#">Seed Bank</a></li>
				        <li class="divider"></li>
						    <li><%= link_to "Browse Gardens", garden_path %></li>
						  
						  </ul>   

						</div>
					</li>
					<li>
						<div class="dropdown">
	   				 
	   				 <a data-target="#" href="#" data-toggle="dropdown" class="dropdown-toggle">Barnyard<b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="#">My Chickens</a></li>
				        <li><a href="#">My Goats</a></li>
				        <li><a href="#">My Sheep</a></li>
				        <li><a href="#">Apiary</a></li>
				        <li class="divider"></li>
						    <li><%= link_to "Browse Barnyards", "#" %></li>
						  
						  </ul>   

						</div>
					</li>
					<li>
						<div class="dropdown">
	   				 
	   				 <a data-target="#" href="#" data-toggle="dropdown" class="dropdown-toggle">Porch<b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="#">Messages</a></li>
				        <li><a href="#">Forum</a></li>
				        <li><a href="#">Random Advice</a></li>

						  </ul>   

						</div>
					</li>

					<li>
						<div class="dropdown">
	   				 
	   				 <a data-target="#" href="#" data-toggle="dropdown" class="dropdown-toggle">Log in <b class="caret"></b></a>
		   				
		   				<ul class="dropdown-menu">
				        
				        <li><a href="#">Username</a></li>
				        <li><a href="#">Password</a></li>
				        
				        <li class="divider"></li>
						    <li><%= link_to "Sign up", sign_up_path %></li>
						    <li><a href="#">Help</a></li>
						  </ul>   

						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>